{% extends "base.html" %}

{% block comment_create %}

{% if form.errors %}
<div>
    <ul>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}


<div id="comment_create">
    <h3>Прокомментируйте статью: "{{ name }}" </h3>
    <form action="{% url 'articles:comment_create' name %}" method="post">
      {% csrf_token %}
      <table border="1">
        {{ form }}
      </table>
      <input type="submit" value="Сохранить">
    </form>
</div>
{% endblock %}






